# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Git
.git
.gitignore

# Misc
.DS_Store
*.swp
*~.bak
*~.tmp

# Project specific
instance/
tokens/
capturecare.db
capturecare.env
